@font-face {
  font-family: 'Playfair Display';
  src: url('../font/pd/pd-4.eot');
  src: url('../font/pd/pd-4.eot?#iefix') format('embedded-opentype'),
  url('../font/pd/pd-4.woff2') format('woff2'),
  url('../font/pd/pd-4.woff') format('woff'),
  url('../font/pd/pd-4.ttf') format('truetype'),
  url('../font/pd/pd-4.svg#playfair_displayregular') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Playfair Display';
  src: url('../font/pd/pd-4i.eot');
  src: url('../font/pd/pd-4i.eot?#iefix') format('embedded-opentype'),
  url('../font/pd/pd-4i.woff2') format('woff2'),
  url('../font/pd/pd-4i.woff') format('woff'),
  url('../font/pd/pd-4i.ttf') format('truetype'),
  url('../font/pd/pd-4i.svg#playfair_displayitalic') format('svg');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: 'Playfair Display';
  src: url('../font/pd/pd-7.eot');
  src: url('../font/pd/pd-7.eot?#iefix') format('embedded-opentype'),
  url('../font/pd/pd-7.woff2') format('woff2'),
  url('../font/pd/pd-7.woff') format('woff'),
  url('../font/pd/pd-7.ttf') format('truetype'),
  url('../font/pd/pd-7.svg#playfair_displaybold') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Playfair Display';
  src: url('../font/pd/pd-7i.eot');
  src: url('../font/pd/pd-7i.eot?#iefix') format('embedded-opentype'),
  url('../font/pd/pd-7i.woff2') format('woff2'),
  url('../font/pd/pd-7i.woff') format('woff'),
  url('../font/pd/pd-7i.ttf') format('truetype'),
  url('../font/pd/pd-7i.svg#playfair_displaybold_italic') format('svg');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: 'Playfair Display';
  src: url('../font/pd/pd-9.eot');
  src: url('../font/pd/pd-9.eot?#iefix') format('embedded-opentype'),
  url('../font/pd/pd-9.woff2') format('woff2'),
  url('../font/pd/pd-9.woff') format('woff'),
  url('../font/pd/pd-9.ttf') format('truetype'),
  url('../font/pd/pd-9.svg#playfair_displayblack') format('svg');
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: 'Playfair Display';
  src: url('../font/pd/pd-9i.eot');
  src: url('../font/pd/pd-9i.eot?#iefix') format('embedded-opentype'),
  url('../font/pd/pd-9i.woff2') format('woff2'),
  url('../font/pd/pd-9i.woff') format('woff'),
  url('../font/pd/pd-9i.ttf') format('truetype'),
  url('../font/pd/pd-9i.svg#playfair_displayblack_italic') format('svg');
  font-weight: 900;
  font-style: italic;
}









@font-face {
  font-family: 'Roboto';
  src: url('../font/r/r-1.eot');
  src: url('../font/r/r-1.eot?#iefix') format('embedded-opentype'),
  url('../font/r/r-1.woff2') format('woff2'),
  url('../font/r/r-1.woff') format('woff'),
  url('../font/r/r-1.ttf') format('truetype'),
  url('../font/r/r-1.svg#open_sanslight') format('svg');
  font-weight: 100;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto';
  src: url('../font/r/r-1i.eot');
  src: url('../font/r/r-1i.eot?#iefix') format('embedded-opentype'),
  url('../font/r/r-1i.woff2') format('woff2'),
  url('../font/r/r-1i.woff') format('woff'),
  url('../font/r/r-1i.ttf') format('truetype'),
  url('../font/r/r-1i.svg#open_sanslight_italic') format('svg');
  font-weight: 100;
  font-style: italic;
}


@font-face {
  font-family: 'Roboto';
  src: url('../font/r/r-3.eot');
  src: url('../font/r/r-3.eot?#iefix') format('embedded-opentype'),
  url('../font/r/r-3.woff2') format('woff2'),
  url('../font/r/r-3.woff') format('woff'),
  url('../font/r/r-3.ttf') format('truetype'),
  url('../font/r/r-3.svg#open_sanslight') format('svg');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto';
  src: url('../font/r/r-3i.eot');
  src: url('../font/r/r-3i.eot?#iefix') format('embedded-opentype'),
  url('../font/r/r-3i.woff2') format('woff2'),
  url('../font/r/r-3i.woff') format('woff'),
  url('../font/r/r-3i.ttf') format('truetype'),
  url('../font/r/r-3i.svg#open_sanslight_italic') format('svg');
  font-weight: 300;
  font-style: italic;
}


@font-face {
  font-family: 'Roboto';
  src: url('../font/r/r-4.eot');
  src: url('../font/r/r-4.eot?#iefix') format('embedded-opentype'),
  url('../font/r/r-4.woff2') format('woff2'),
  url('../font/r/r-4.woff') format('woff'),
  url('../font/r/r-4.ttf') format('truetype'),
  url('../font/r/r-4.svg#open_sansregular') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto';
  src: url('../font/r/r-4i.eot');
  src: url('../font/r/r-4i.eot?#iefix') format('embedded-opentype'),
  url('../font/r/r-4i.woff2') format('woff2'),
  url('../font/r/r-4i.woff') format('woff'),
  url('../font/r/r-4i.ttf') format('truetype'),
  url('../font/r/r-4i.svg#open_sansitalic') format('svg');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: 'Roboto';
  src: url('../font/r/r-5.eot');
  src: url('../font/r/r-5.eot?#iefix') format('embedded-opentype'),
  url('../font/r/r-5.woff2') format('woff2'),
  url('../font/r/r-5.woff') format('woff'),
  url('../font/r/r-5.ttf') format('truetype'),
  url('../font/r/r-5.svg#open_sanssemibold') format('svg');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto';
  src: url('../font/r/r-5i.eot');
  src: url('../font/r/r-5i.eot?#iefix') format('embedded-opentype'),
  url('../font/r/r-5i.woff2') format('woff2'),
  url('../font/r/r-5i.woff') format('woff'),
  url('../font/r/r-5i.ttf') format('truetype'),
  url('../font/r/r-5i.svg#open_sanssemibold_italic') format('svg');
  font-weight: 500;
  font-style: italic;
}


@font-face {
  font-family: 'Roboto';
  src: url('../font/r/r-7.eot');
  src: url('../font/r/r-7.eot?#iefix') format('embedded-opentype'),
  url('../font/r/r-7.woff2') format('woff2'),
  url('../font/r/r-7.woff') format('woff'),
  url('../font/r/r-7.ttf') format('truetype'),
  url('../font/r/r-7.svg#open_sansbold') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto';
  src: url('../font/r/r-7i.eot');
  src: url('../font/r/r-7i.eot?#iefix') format('embedded-opentype'),
  url('../font/r/r-7i.woff2') format('woff2'),
  url('../font/r/r-7i.woff') format('woff'),
  url('../font/r/r-7i.ttf') format('truetype'),
  url('../font/r/r-7i.svg#open_sansbold_italic') format('svg');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: 'Roboto';
  src: url('../font/r/r-9.eot');
  src: url('../font/r/r-9.eot?#iefix') format('embedded-opentype'),
  url('../font/r/r-9.woff2') format('woff2'),
  url('../font/r/r-9.woff') format('woff'),
  url('../font/r/r-9.ttf') format('truetype'),
  url('../font/r/r-9.svg#open_sansextrabold') format('svg');
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto';
  src: url('../font/r/r-9i.eot');
  src: url('../font/r/r-9i.eot?#iefix') format('embedded-opentype'),
  url('../font/r/r-9i.woff2') format('woff2'),
  url('../font/r/r-9i.woff') format('woff'),
  url('../font/r/r-9i.ttf') format('truetype'),
  url('../font/r/r-9i.svg#open_sansextrabold_italic') format('svg');
  font-weight: 900;
  font-style: italic;
}