.site-header{
  padding: 1.85% 10px;
  background-color: #000000;
  @media (max-width: 570px) {
    padding-top: 35px;
  }
}


.site-header-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1160px;
  margin: 0 auto;
  font-weight: 300;
}


.site-header__logo{
  color: #bf943a;
  font-size: 20px;
  @media (max-width: 400px) {
    font-size: 18px;
  }
}


.site-header__top-contacts{
  display: flex;
  color: #fafafa;
  font-size: 15px;
  @media (max-width: 950px) {
    flex-direction: column;
    p + p{
      margin-top: 7px;
      margin-left: 0;
    }
  }
  @media (max-width: 570px) {
    p {
      display: none;
      &:nth-child(3){
        display: flex;
        position: absolute;
        top: 5px;
        right: 5px;
        &:before{
          top: 0;
        }
        span + span{
          margin-left: 10px;
        }
      }
    }
  }

  p{
    position: relative;
    &:before{
      content: '';
      position: absolute;
      top: 2px;
      left: -30px;
      width: 18px;
      height: 18px;
      background: no-repeat right;
    }
    &:nth-child(1){
      &:before{
        background-image: url(../img/icons/header-address.svg);
      }
    }
    &:nth-child(2){
      &:before{
        background-image: url(../img/icons/mail-a.svg);
      }
    }
    &:nth-child(3){
      &:before{
        background-image: url(../img/icons/phone-a.svg);
      }
    }
    + p {
      margin-left: 50px;
    }
  }
  span{
    display: block;
  }
}




.sh-nav{
  position: absolute;
  z-index: 16;
  width: 100%;
  color: #ffffff;
  font-size: 15px;
  background-color: fade(@black, 90);
  @media (max-width: 900px) {
    top: 65px;
    right: 15px;
    width: 29px;
    height: 29px;
    background-color: transparent;
    cursor: pointer;
    &:before,
    &:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 5px;
      background-color: #fff;
    }
    &:after{
      bottom: 0;
      box-shadow: 0 -12px 0 0 #fff;
    }

    &.active{
      ul{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, .8);
        z-index: 1;
        li{
          display: block;
          border: none;
          flex-grow: 0;
          width: 300px;
        }
      }

      + span{
        display: block;
      }
    }

    &:not(.active){
      ul{
        display: none;
      }
    }
  }

  ul{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1060px;
    margin: auto;
    padding: 0;
    list-style-type: none;
  }
  li{
    flex: 1 1 auto;
    border: 1px solid #494949;
    border-top: none;
    border-bottom: none;
    + li{
      border-left: none;
    }
  }
  a{
    display: block;
    padding: 14px 0;
    text-align: center;
    &:hover,
    &:focus,
    &.current{
      color: #bf943a;
      background-color: rgba(0,0,0,.3);
    }
  }

  + span{
    display: none;
    position: absolute;
    top: 65px;
    right: 15px;
    width: 30px;
    height: 30px;
    z-index: 16;
    cursor: pointer;
    &:before,
    &:after{
      content: '';
      position: absolute;
      top: 13px;
      display: block;
      width: 100%;
      height: 4px;
      background-color: #a8a8b7;
    }
    &:before{
      transform: rotate(45deg);
    }
    &:after{
      transform: rotate(-45deg);
    }
  }
}