.section1{
  position: relative;
  color: #ffffff;
}


.section1-wrap{
  .wrap(1060);
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
}


.section1__content{
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 15px;
  .h3,
  p{
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.31);
  }
  .h3{
    align-self: flex-start;
    max-width: 570px;
    padding: 15px 35px;
    background-color: rgba(29, 25, 16, 0.7);
    @media (max-width: 768px) {
      padding: 15px;
      font-size: 25px;
    }
    @media (max-width: 475px) {
      font-size: 22px;
      br{
        display: none;
      }
    }
  }
  p{
    max-width: 790px;
    padding-top: 35px;
    padding-left: 35px;
    font-size: 22px;
    border-top: 3px solid @brown;
    @media (max-width: 768px) {
      font-size: 18px;
      padding-left: 15px;
    }
  }
}


.section1__bottom{
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: -1px;
  display: flex;
  justify-content: space-between;
  width: calc(~"100% - 30px");
  button{
    flex-basis: 49%;
    height: 50px;
    font-size: 20px;
    background-color: rgba(29, 25, 16, 0.7);
    border: 1px solid @brown;
    &:hover{
      background-color: rgba(179, 150, 90, 0.76);
      border: 1px solid #fff;
    }
    @media (max-width: 550px) {
      &:nth-child(1){
        display: none;
      }
      &:nth-child(2){
        flex-basis: 100%;
      }
    }
  }
}




.section1__slider{
  @media (max-width: 990px) {
    height: 420px;
    img{
      max-width: none;
      width: auto;
    }
  }
  img{
    display: flex;
    max-width: 100%;
    width: 100%;
  }
  .lSPager.lSpg{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 900px) {
      display: none;
    }
    > li{
      padding: 5px;
      margin: 2px;
      &:hover a,
      &.active a{
        background-color: @brown;
      }
      a{
        width: 14px;
        height: 14px;
        background-color: #b3b3b3;
        box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
      }
    }
  }
}




.section2{
  color: #ffffff;
  background: #000000 url(../img/pattern-bg-black.svg);
  background-size: 165px;
}


.section2-wrap{
  .wrap;
  .h2{
    &:after{
      background-image: url(../img/icons/pattern-h-brown.svg);
    }
  }
  p{
    font-size: 20px;
    font-weight: 300;
    @media (max-width: 768px) {
      font-size: 17px;
    }
  }
}




.section3{
  background-image: url(../img/pattern-bg-white.svg);
  background-size: 165px;
}


.section3-wrap{
  .wrap;
  .h2{
    &:after{
      background-image: url(../img/icons/pattern-h-black.svg);
    }
  }
  p{
    font-size: 20px;
    font-weight: 300;
    @media (max-width: 768px) {
      font-size: 17px;
    }
  }
}


.section3__products-wrap{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1060px;
  margin: 4.07% auto 0;
  @media (max-width: 980px) {
    justify-content: space-around;
    .section3__products-item{
      flex-basis: 48%;
      max-width: 330px;
    }
  }
  @media (max-width: 570px) {
    .section3__products-item{
      flex-basis: 330px;
      margin-bottom: 30px;
    }
  }
}


.section3__products-item{
  flex-basis: 32%;
  margin-bottom: 4.245%;
  &:hover{
    color: @brown;
    .products-item__wrap{
      border-color: @brown;
    }
  }
}


.products-item__wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 283px;
  margin-bottom: 15px;
  padding: 15px;
  background-color: white;
  border: 1px solid #bebdbd;
  border-radius: 3px;
  img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
  }
}




.section4{
  color: #fff;
  background: #000000 url(../img/pattern-bg-black.svg);
  background-size: 165px;
}


.section4-1{
  background-color: rgba(121, 121, 121, 0.17);
}


.section4-1-wrap{
  .wrap;
  .h2{
    &:after{
      background-image: url(../img/icons/pattern-h-brown.svg);
    }
  }
  p{
    font-size: 20px;
    font-weight: 300;
    @media (max-width: 768px) {
      font-size: 17px;
    }
  }
}




.section4-2{
  .h2{
    margin-bottom: 10px;
  }
}


.works-order-wrap{
  .wrap;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.works-order-item{
  flex-basis: 220px;
  position: relative;
  margin-top: 180px;
  text-align: center;
  &:before{
    content: '';
    position: absolute;
    bottom: calc(~"100% + 30px");
    left: 0;
    right: 0;
    width: 110px;
    height: 110px;
    margin: auto;
    background: #000000 no-repeat center;
    border: 2px solid @brown;
    border-radius: 50%;
  }
  &:nth-child(1){
    &:before{
      background-image: url(../img/icons/step1.svg);
    }
  }
  &:nth-child(2){
    &:before{
      background-image: url(../img/icons/step2.svg);
    }
  }
  &:nth-child(3){
    &:before{
      background-image: url(../img/icons/step3.svg);
    }
    @media (min-width: 1147px) {
      &:after{
        content: '';
        position: absolute;
        bottom: 172px;
        left: 0;
        right: 0;
        width: 116px;
        height: 34px;
        margin: auto;
        background-image: url(../img/icons/step-pattern.svg);
      }
    }
  }
  &:nth-child(4){
    &:before{
      background-image: url(../img/icons/step4.svg);
    }
  }
  &:nth-child(5){
    &:before{
      background-image: url(../img/icons/step5.svg);
    }
  }
  &:nth-child(6){
    &:before{
      background-image: url(../img/icons/step6.svg);
    }
  }
  &:nth-child(7){
    &:before{
      background-image: url(../img/icons/step7.svg);
    }
  }
  &:nth-child(8){
    &:before{
      background-image: url(../img/icons/step8.svg);
    }
  }
  &:nth-child(9){
    &:before{
      background-image: url(../img/icons/step9.svg);
    }
  }
  &:nth-child(10){
    cursor: pointer;
    &:before{
      border-color: #ffffff;
      background-image: url(../img/icons/step10.svg);
    }
    @media (max-width: 1000px){
      display: block;
      background-color: @brown;
      border-radius: 3px;
      line-height: 30px;
      &:hover{
        background-color: darken(@brown, 10);
      }
    }
  }
  &:nth-last-child(n + 3){
    span{
      &:after{
        content: '>';
        position: absolute;
        right: -15px;
        color: @brown;
      }
      @media (max-width: 486px) {
        display: block;
        &:after{
          top: 100%;
          left: 0;
          right: 0;
          margin: auto;
          transform: rotate(90deg);
        }
      }
    }
  }
  span{
    position: relative;
    font-size: 18px;
    font-weight: 300;
  }
}




.section5{
  background-image: url(../img/pattern-bg-white.svg);
  background-size: 165px;
  .h2{
    &:after{
      background-image: url(../img/icons/pattern-h-black.svg);
    }
  }
}


.works-done-wrap{
  .wrap(1160);
}


.works-done-items{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 12px;
  background-color: #000000;
  a{
    flex-grow: 1;
    position: relative;
    display: inline-block;
    margin: 9px;
    @media (min-width: 500px) and (max-width: 650px) {
      flex-basis: 45%;
    }
    &:hover{
      &:before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(211, 149, 20, .39);
      }
    }
  }
  img{
    display: block;
    max-width: 100%;
    width: 100%;
  }
}




.section6{
  color: #ffffff;
  background: #000000 url(../img/pattern-bg-black.svg);
  background-size: 165px;
}


.section6-1{
  border: none !important;
  @media (max-width: 768px) {
    padding-bottom: 10% !important;
  }
}


.section6-1-wrap{
  .wrap;
  .h2{
    margin-bottom: 5%;
  }
  small{
    display: block;
    margin-top: 20px;
    color: @brown;
    font-family: @r-font;
    font-size: 75%;
    font-weight: 300;
  }
  p{
    margin-bottom: 4.44%;
    font-size: 20px;
    font-weight: 300;
    @media (max-width: 768px) {
      font-size: 17px;
    }
  }
  button{
    display: block;
    height: 60px;
    padding: 0 5%;
    margin: 0 auto;
    font-size: 23px;
    background-color: @brown;
    border: none;
    border-radius: 5px;
    @media (max-width: 768px) {
      font-size: 17px;
    }
    &:hover{
      background-color: darken(@brown, 10%);
    }
  }
}


.section6-2{
  position: relative;
  &:before,
  &:after{
    content: '';
    position: absolute;
    top: 0;
    width: 45%;
    height: 1px;
    background-color: #fff;
    @media (max-width: 768px) {
      width: 40%;
    }
  }
  &:after{
    right: 0;
  }
}


.instagram-slider-wrap{
  width: 100%;
  &:before{
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    width: 38px;
    height: 38px;
    margin: auto;
    background-image: url(../img/icons/instagram.svg);
  }
}




.section7{
  background-image: url(../img/pattern-bg-white.svg);
  background-size: 165px;
}


.section7-wrap{
  .wrap;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1000px) {
    flex-direction: column;
  }
  .h2{
    &:after{
      background-image: url(../img/icons/pattern-h-black.svg);
    }
  }
}


.contacts,
.callback{
  @media (min-width: 1001px) {
    padding-left: 5%;
    .h2{
      margin-bottom: 70px;
    }
  }
}


.contacts{
  flex-basis: 30%;
  @media (min-width: 1001px) {
    border-right: 1px solid @brown;
    .h2{
      text-align: left;
      &:after{
        left: -35px;
        margin: 0;
      }
    }
  }
}


.contacts-content{
  @media (max-width: 1000px) {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  @media (max-width: 700px) {
    flex-direction: column;
  }
  strong{
    display: block;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 400;
  }
  span{
    font-size: 18px;
    font-weight: 300;
  }
}


.contacts-content-item{
  + .contacts-content-item{
    margin-top: 30px;
  }
}





.callback{
  flex-basis: 70%;
  p{
    font-size: 20px;
    font-weight: 300;
  }
  textarea{
    width: 100%;
  }
}


.callback-form-sm{
  display: flex;
  margin-top: 30px;
  @media (max-width: 650px) {
    display: none;
  }
}


.callback-form-xs{
  max-width: 500px;
  margin: 25px auto 0;
  input{
    width: 100%;
    + input{
      margin-top: 15px;
    }
  }
  textarea{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 150px;
  }
  @media (min-width: 651px) {
    display: none;
  }
}


.callback-left{
  flex-basis: 300px;
  flex-shrink: 0;
  margin-right: 15px;
  input{
    width: 100%;
    + input{
      margin-top: 15px;
    }
  }
}




.site-footer{

}


.footer-map{
  height: 50vh;
}


.cpr{
  padding: 2.44% 5px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  background-color: #000000;
  a{
    position: relative;
    margin-right: 40px;
    color: @brown;
    text-decoration: underline;
    @media (max-width: 400px) {
      display: block;
      margin: 0 0 15px;
      &:after{
        left: 0;
        right: 0;
        top: calc(~"100% + 15px");
      }
    }
    &:hover,
    &:focus{
      text-decoration: none;
    }
    &:after{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: -25px;
      width: 6px;
      height: 6px;
      margin: auto;
      border-radius: 50%;
      background-color: #635230;
    }
  }
}




html.popup-form-active{
  position: relative;
  margin-right: 17px;
  overflow: hidden;
}


.popup-form-wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  text-align: center;
  z-index: 100;
  overflow-x: auto;
  &.active{
    display: block;
  }
  &:after{
    content: '';
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
  }
}


.popup-form-container{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 617px;
  margin: 10px auto;
  padding: 30px 4% 35px;
  text-align: left;
  border: 10px solid fade(@brown, 50);
  border-radius: 10px;
  background-color: #fff;
  .h5{
    margin-bottom: 15px;
  }
  form{
    max-width: 90%;
    margin: auto;
    @media (max-width: 650px) {
      max-width: none;
    }
  }
  label{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;
    @media (max-width: 610px) {
      flex-direction: column;
    }
  }
  input,
  textarea{
    max-width: 400px;
    width: 100%;
    margin-left: 10px;
    padding-right: 7%;
    @media (max-width: 610px) {
      margin-left: 0;
    }
  }
  input[type=submit]{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    display: block;
    width: 155px;
    padding: 2px;
  }
  textarea{
    height: 87px;
  }
}


.popup-form-text{
  color: #868783;
  font-size: 13px;
}


.popup-form-cancel{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 21px;
  padding: 0;
  color: #ffffff;
  font-size: 19px;
  font-weight: 700;
  line-height: 21px;
  background-color: #000000;
  border: none;
  border-radius: 4px;
}