@import "../lib/lightslider/css/lightslider.min.css";
@import "../lib/magnific-popup/magnific-popup.css";
@import "fonts";
@import "base";
@import "mixins";

@brown: #b3965a;
@brown-dark: #635230;
@black: #1d1910;

@r-font: Roboto, sans-serif;
@pd-font: 'Playfair Display', serif;


body{
  font-family: @r-font;
  border-top: 6px solid @brown;
  border-bottom: 6px solid @brown-dark;
}


a{
  text-decoration: none;
}


section:not(.section1){
  padding-top: 5.185185185185185%;
  padding-bottom: 5.185185185185185%;
}


section{
  border-bottom: 1px solid @brown;
}



input,
textarea{
  padding: 10px 5% 10px 10px;
  background: rgba(255, 255, 255, .45) no-repeat 95%;
  border: 1px solid #000;
  line-height: 1;
  &::placeholder{
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
  }
}


input{
  height: 43px;
  &[type=submit] {
    color: #ffffff;
    font-size: 20px;
    background-color: #000000;
    border: none;
    &:hover {
      background-color: @brown;
    }
  }
  &[type=text]{
    background-image: url(../img/icons/user.svg);
    &:focus{
      background-image: url(../img/icons/user-a.svg);
    }
  }
  &[type=tel]{
    background-image: url(../img/icons/phone.svg);
    &:focus{
      background-image: url(../img/icons/phone-a.svg);
    }
  }
  &[type=email]{
    background-image: url(../img/icons/mail.svg);
    &:focus{
      background-image: url(../img/icons/mail-a.svg);
    }
  }
}


textarea{
  background-image: url(../img/icons/text.svg);
  background-position-y: 10px;
  &:focus{
    background-image: url(../img/icons/text-a.svg);
  }
}




.h1, .h2, .h3, .h4, .h5, .h6{
  font-family: @pd-font;
  font-weight: 700;
  line-height: 1;
}

.h2{
  position: relative;
  margin-bottom: 6.67%;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  @media (max-width: 768px) {
    margin-bottom: 65px;
    font-size: 30px;
  }
  @media (max-width: 500px) {
    font-size: 25px;
  }
  &:after{
    content: '';
    position: absolute;
    top: calc(~"100% + 20px");
    left: 0;
    right: 0;
    width: 241px;
    height: 18px;
    margin: auto;
  }
}

.h3{
  font-size: 30px;
}

.h5{
  font-size: 22px;
  font-weight: 400;
}


.wysiwyg{
  font-size: 20px;
  font-weight: 300;
  @media (max-width: 768px) {
    font-size: 17px;
  }
}



@import "header";
@import "index";

//@import "footer";