@import "../lib/lightslider/css/lightslider.min.css";@import "../lib/magnific-popup/magnific-popup.css";@font-face {
	font-family: 'Playfair Display';
	src: url('../font/pd/pd-4.eot');
	src: url('../font/pd/pd-4.eot?#iefix') format('embedded-opentype'), url('../font/pd/pd-4.woff2') format('woff2'), url('../font/pd/pd-4.woff') format('woff'), url('../font/pd/pd-4.ttf') format('truetype'), url('../font/pd/pd-4.svg#playfair_displayregular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../font/pd/pd-4i.eot');
	src: url('../font/pd/pd-4i.eot?#iefix') format('embedded-opentype'), url('../font/pd/pd-4i.woff2') format('woff2'), url('../font/pd/pd-4i.woff') format('woff'), url('../font/pd/pd-4i.ttf') format('truetype'), url('../font/pd/pd-4i.svg#playfair_displayitalic') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../font/pd/pd-7.eot');
	src: url('../font/pd/pd-7.eot?#iefix') format('embedded-opentype'), url('../font/pd/pd-7.woff2') format('woff2'), url('../font/pd/pd-7.woff') format('woff'), url('../font/pd/pd-7.ttf') format('truetype'), url('../font/pd/pd-7.svg#playfair_displaybold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../font/pd/pd-7i.eot');
	src: url('../font/pd/pd-7i.eot?#iefix') format('embedded-opentype'), url('../font/pd/pd-7i.woff2') format('woff2'), url('../font/pd/pd-7i.woff') format('woff'), url('../font/pd/pd-7i.ttf') format('truetype'), url('../font/pd/pd-7i.svg#playfair_displaybold_italic') format('svg');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../font/pd/pd-9.eot');
	src: url('../font/pd/pd-9.eot?#iefix') format('embedded-opentype'), url('../font/pd/pd-9.woff2') format('woff2'), url('../font/pd/pd-9.woff') format('woff'), url('../font/pd/pd-9.ttf') format('truetype'), url('../font/pd/pd-9.svg#playfair_displayblack') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../font/pd/pd-9i.eot');
	src: url('../font/pd/pd-9i.eot?#iefix') format('embedded-opentype'), url('../font/pd/pd-9i.woff2') format('woff2'), url('../font/pd/pd-9i.woff') format('woff'), url('../font/pd/pd-9i.ttf') format('truetype'), url('../font/pd/pd-9i.svg#playfair_displayblack_italic') format('svg');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('../font/r/r-1.eot');
	src: url('../font/r/r-1.eot?#iefix') format('embedded-opentype'), url('../font/r/r-1.woff2') format('woff2'), url('../font/r/r-1.woff') format('woff'), url('../font/r/r-1.ttf') format('truetype'), url('../font/r/r-1.svg#open_sanslight') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../font/r/r-1i.eot');
	src: url('../font/r/r-1i.eot?#iefix') format('embedded-opentype'), url('../font/r/r-1i.woff2') format('woff2'), url('../font/r/r-1i.woff') format('woff'), url('../font/r/r-1i.ttf') format('truetype'), url('../font/r/r-1i.svg#open_sanslight_italic') format('svg');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('../font/r/r-3.eot');
	src: url('../font/r/r-3.eot?#iefix') format('embedded-opentype'), url('../font/r/r-3.woff2') format('woff2'), url('../font/r/r-3.woff') format('woff'), url('../font/r/r-3.ttf') format('truetype'), url('../font/r/r-3.svg#open_sanslight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../font/r/r-3i.eot');
	src: url('../font/r/r-3i.eot?#iefix') format('embedded-opentype'), url('../font/r/r-3i.woff2') format('woff2'), url('../font/r/r-3i.woff') format('woff'), url('../font/r/r-3i.ttf') format('truetype'), url('../font/r/r-3i.svg#open_sanslight_italic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('../font/r/r-4.eot');
	src: url('../font/r/r-4.eot?#iefix') format('embedded-opentype'), url('../font/r/r-4.woff2') format('woff2'), url('../font/r/r-4.woff') format('woff'), url('../font/r/r-4.ttf') format('truetype'), url('../font/r/r-4.svg#open_sansregular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../font/r/r-4i.eot');
	src: url('../font/r/r-4i.eot?#iefix') format('embedded-opentype'), url('../font/r/r-4i.woff2') format('woff2'), url('../font/r/r-4i.woff') format('woff'), url('../font/r/r-4i.ttf') format('truetype'), url('../font/r/r-4i.svg#open_sansitalic') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('../font/r/r-5.eot');
	src: url('../font/r/r-5.eot?#iefix') format('embedded-opentype'), url('../font/r/r-5.woff2') format('woff2'), url('../font/r/r-5.woff') format('woff'), url('../font/r/r-5.ttf') format('truetype'), url('../font/r/r-5.svg#open_sanssemibold') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../font/r/r-5i.eot');
	src: url('../font/r/r-5i.eot?#iefix') format('embedded-opentype'), url('../font/r/r-5i.woff2') format('woff2'), url('../font/r/r-5i.woff') format('woff'), url('../font/r/r-5i.ttf') format('truetype'), url('../font/r/r-5i.svg#open_sanssemibold_italic') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('../font/r/r-7.eot');
	src: url('../font/r/r-7.eot?#iefix') format('embedded-opentype'), url('../font/r/r-7.woff2') format('woff2'), url('../font/r/r-7.woff') format('woff'), url('../font/r/r-7.ttf') format('truetype'), url('../font/r/r-7.svg#open_sansbold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../font/r/r-7i.eot');
	src: url('../font/r/r-7i.eot?#iefix') format('embedded-opentype'), url('../font/r/r-7i.woff2') format('woff2'), url('../font/r/r-7i.woff') format('woff'), url('../font/r/r-7i.ttf') format('truetype'), url('../font/r/r-7i.svg#open_sansbold_italic') format('svg');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('../font/r/r-9.eot');
	src: url('../font/r/r-9.eot?#iefix') format('embedded-opentype'), url('../font/r/r-9.woff2') format('woff2'), url('../font/r/r-9.woff') format('woff'), url('../font/r/r-9.ttf') format('truetype'), url('../font/r/r-9.svg#open_sansextrabold') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../font/r/r-9i.eot');
	src: url('../font/r/r-9i.eot?#iefix') format('embedded-opentype'), url('../font/r/r-9i.woff2') format('woff2'), url('../font/r/r-9i.woff') format('woff'), url('../font/r/r-9i.ttf') format('truetype'), url('../font/r/r-9i.svg#open_sansextrabold_italic') format('svg');
	font-weight: 900;
	font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	font: inherit;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	color: inherit; /* 1 */
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
input[type=submit] {
	cursor: pointer; /* 3 */
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

a {
	color: inherit;
}

a,
button,
input,
textarea {
	outline: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

textarea {
	resize: vertical;
}

ul {
	margin: 0;
}

body {
	font-family: Roboto, sans-serif;
	border-top: 6px solid #b3965a;
	border-bottom: 6px solid #635230;
}

a {
	text-decoration: none;
}

section:not(.section1) {
	padding-top: 5.185185185185185%;
	padding-bottom: 5.185185185185185%;
}

section {
	border-bottom: 1px solid #b3965a;
}

input,
textarea {
	padding: 10px 5% 10px 10px;
	background: rgba(255, 255, 255, 0.45) no-repeat 95%;
	border: 1px solid #000;
	line-height: 1;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #000000;
	font-size: 18px;
	font-weight: 300;
	line-height: 1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #000000;
	font-size: 18px;
	font-weight: 300;
	line-height: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #000000;
	font-size: 18px;
	font-weight: 300;
	line-height: 1;
}

input::placeholder,
textarea::placeholder {
	color: #000000;
	font-size: 18px;
	font-weight: 300;
	line-height: 1;
}

input {
	height: 43px;
}

input[type=submit] {
	color: #ffffff;
	font-size: 20px;
	background-color: #000000;
	border: none;
}

input[type=submit]:hover {
	background-color: #b3965a;
}

input[type=text] {
	background-image: url(../img/icons/user.svg);
}

input[type=text]:focus {
	background-image: url(../img/icons/user-a.svg);
}

input[type=tel] {
	background-image: url(../img/icons/phone.svg);
}

input[type=tel]:focus {
	background-image: url(../img/icons/phone-a.svg);
}

input[type=email] {
	background-image: url(../img/icons/mail.svg);
}

input[type=email]:focus {
	background-image: url(../img/icons/mail-a.svg);
}

textarea {
	background-image: url(../img/icons/text.svg);
	background-position-y: 10px;
}

textarea:focus {
	background-image: url(../img/icons/text-a.svg);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	line-height: 1;
}

.h2 {
	position: relative;
	margin-bottom: 6.67%;
	font-size: 35px;
	font-weight: 400;
	text-align: center;
}

.h2:after {
	content: '';
	position: absolute;
	top: calc(100% + 20px);
	left: 0;
	right: 0;
	width: 241px;
	height: 18px;
	margin: auto;
}

.h3 {
	font-size: 30px;
}

.h5 {
	font-size: 22px;
	font-weight: 400;
}

.wysiwyg {
	font-size: 20px;
	font-weight: 300;
}

.site-header {
	padding: 1.85% 10px;
	background-color: #000000;
}

.site-header-wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	max-width: 1160px;
	margin: 0 auto;
	font-weight: 300;
}

.site-header__logo {
	color: #bf943a;
	font-size: 20px;
}

.site-header__top-contacts {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	color: #fafafa;
	font-size: 15px;
}

.site-header__top-contacts p {
	position: relative;
}

.site-header__top-contacts p:before {
	content: '';
	position: absolute;
	top: 2px;
	left: -30px;
	width: 18px;
	height: 18px;
	background: no-repeat right;
}

.site-header__top-contacts p:nth-child(1):before {
	background-image: url(../img/icons/header-address.svg);
}

.site-header__top-contacts p:nth-child(2):before {
	background-image: url(../img/icons/mail-a.svg);
}

.site-header__top-contacts p:nth-child(3):before {
	background-image: url(../img/icons/phone-a.svg);
}

.site-header__top-contacts p + p {
	margin-left: 50px;
}

.site-header__top-contacts span {
	display: block;
}

.sh-nav {
	position: absolute;
	z-index: 16;
	width: 100%;
	color: #ffffff;
	font-size: 15px;
	background-color: rgba(29, 25, 16, 0.9);
}

.sh-nav ul {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	max-width: 1060px;
	margin: auto;
	padding: 0;
	list-style-type: none;
}

.sh-nav li {
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	border: 1px solid #494949;
	border-top: none;
	border-bottom: none;
}

.sh-nav li + li {
	border-left: none;
}

.sh-nav a {
	display: block;
	padding: 14px 0;
	text-align: center;
}

.sh-nav a:hover,
.sh-nav a:focus,
.sh-nav a.current {
	color: #bf943a;
	background-color: rgba(0, 0, 0, 0.3);
}

.sh-nav + span {
	display: none;
	position: absolute;
	top: 65px;
	right: 15px;
	width: 30px;
	height: 30px;
	z-index: 16;
	cursor: pointer;
}

.sh-nav + span:before,
.sh-nav + span:after {
	content: '';
	position: absolute;
	top: 13px;
	display: block;
	width: 100%;
	height: 4px;
	background-color: #a8a8b7;
}

.sh-nav + span:before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.sh-nav + span:after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.section1 {
	position: relative;
	color: #ffffff;
}

.section1-wrap {
	max-width: 1090px;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 15;
}

.section1__content {
	position: absolute;
	top: 0;
	bottom: 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-right: 15px;
}

.section1__content .h3,
.section1__content p {
	text-shadow: 0 3px 0 rgba(0, 0, 0, 0.31);
}

.section1__content .h3 {
	-webkit-align-self: flex-start;
	-ms-flex-item-align: start;
	align-self: flex-start;
	max-width: 570px;
	padding: 15px 35px;
	background-color: rgba(29, 25, 16, 0.7);
}

.section1__content p {
	max-width: 790px;
	padding-top: 35px;
	padding-left: 35px;
	font-size: 22px;
	border-top: 3px solid #b3965a;
}

.section1__bottom {
	position: absolute;
	left: 15px;
	right: 15px;
	bottom: -1px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: calc(100% - 30px);
}

.section1__bottom button {
	-webkit-flex-basis: 49%;
	-ms-flex-preferred-size: 49%;
	flex-basis: 49%;
	height: 50px;
	font-size: 20px;
	background-color: rgba(29, 25, 16, 0.7);
	border: 1px solid #b3965a;
}

.section1__bottom button:hover {
	background-color: rgba(179, 150, 90, 0.76);
	border: 1px solid #fff;
}

.section1__slider img {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	max-width: 100%;
	width: 100%;
}

.section1__slider .lSPager.lSpg {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 40px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.section1__slider .lSPager.lSpg > li {
	padding: 5px;
	margin: 2px;
}

.section1__slider .lSPager.lSpg > li:hover a,
.section1__slider .lSPager.lSpg > li.active a {
	background-color: #b3965a;
}

.section1__slider .lSPager.lSpg > li a {
	width: 14px;
	height: 14px;
	background-color: #b3b3b3;
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}

.section2 {
	color: #ffffff;
	background: #000000 url(../img/pattern-bg-black.svg);
	background-size: 165px;
}

.section2-wrap {
	max-width: 1150px;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}

.section2-wrap .h2:after {
	background-image: url(../img/icons/pattern-h-brown.svg);
}

.section2-wrap p {
	font-size: 20px;
	font-weight: 300;
}

.section3 {
	background-image: url(../img/pattern-bg-white.svg);
	background-size: 165px;
}

.section3-wrap {
	max-width: 1150px;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}

.section3-wrap .h2:after {
	background-image: url(../img/icons/pattern-h-black.svg);
}

.section3-wrap p {
	font-size: 20px;
	font-weight: 300;
}

.section3__products-wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	max-width: 1060px;
	margin: 4.07% auto 0;
}

.section3__products-item {
	-webkit-flex-basis: 32%;
	-ms-flex-preferred-size: 32%;
	flex-basis: 32%;
	margin-bottom: 4.245%;
}

.section3__products-item:hover {
	color: #b3965a;
}

.section3__products-item:hover .products-item__wrap {
	border-color: #b3965a;
}

.products-item__wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 283px;
	margin-bottom: 15px;
	padding: 15px;
	background-color: white;
	border: 1px solid #bebdbd;
	border-radius: 3px;
}

.products-item__wrap img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
}

.section4 {
	color: #fff;
	background: #000000 url(../img/pattern-bg-black.svg);
	background-size: 165px;
}

.section4-1 {
	background-color: rgba(121, 121, 121, 0.17);
}

.section4-1-wrap {
	max-width: 1150px;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}

.section4-1-wrap .h2:after {
	background-image: url(../img/icons/pattern-h-brown.svg);
}

.section4-1-wrap p {
	font-size: 20px;
	font-weight: 300;
}

.section4-2 .h2 {
	margin-bottom: 10px;
}

.works-order-wrap {
	max-width: 1150px;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.works-order-item {
	-webkit-flex-basis: 220px;
	-ms-flex-preferred-size: 220px;
	flex-basis: 220px;
	position: relative;
	margin-top: 180px;
	text-align: center;
}

.works-order-item:before {
	content: '';
	position: absolute;
	bottom: calc(100% + 30px);
	left: 0;
	right: 0;
	width: 110px;
	height: 110px;
	margin: auto;
	background: #000000 no-repeat center;
	border: 2px solid #b3965a;
	border-radius: 50%;
}

.works-order-item:nth-child(1):before {
	background-image: url(../img/icons/step1.svg);
}

.works-order-item:nth-child(2):before {
	background-image: url(../img/icons/step2.svg);
}

.works-order-item:nth-child(3):before {
	background-image: url(../img/icons/step3.svg);
}

.works-order-item:nth-child(4):before {
	background-image: url(../img/icons/step4.svg);
}

.works-order-item:nth-child(5):before {
	background-image: url(../img/icons/step5.svg);
}

.works-order-item:nth-child(6):before {
	background-image: url(../img/icons/step6.svg);
}

.works-order-item:nth-child(7):before {
	background-image: url(../img/icons/step7.svg);
}

.works-order-item:nth-child(8):before {
	background-image: url(../img/icons/step8.svg);
}

.works-order-item:nth-child(9):before {
	background-image: url(../img/icons/step9.svg);
}

.works-order-item:nth-child(10) {
	cursor: pointer;
}

.works-order-item:nth-child(10):before {
	border-color: #ffffff;
	background-image: url(../img/icons/step10.svg);
}

.works-order-item:nth-last-child(n + 3) span:after {
	content: '>';
	position: absolute;
	right: -15px;
	color: #b3965a;
}

.works-order-item span {
	position: relative;
	font-size: 18px;
	font-weight: 300;
}

.section5 {
	background-image: url(../img/pattern-bg-white.svg);
	background-size: 165px;
}

.section5 .h2:after {
	background-image: url(../img/icons/pattern-h-black.svg);
}

.works-done-wrap {
	max-width: 1190px;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}

.works-done-items {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 12px;
	background-color: #000000;
}

.works-done-items a {
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	position: relative;
	display: inline-block;
	margin: 9px;
}

.works-done-items a:hover:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(211, 149, 20, 0.39);
}

.works-done-items img {
	display: block;
	max-width: 100%;
	width: 100%;
}

.section6 {
	color: #ffffff;
	background: #000000 url(../img/pattern-bg-black.svg);
	background-size: 165px;
}

.section6-1 {
	border: none !important;
}

.section6-1-wrap {
	max-width: 1150px;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}

.section6-1-wrap .h2 {
	margin-bottom: 5%;
}

.section6-1-wrap small {
	display: block;
	margin-top: 20px;
	color: #b3965a;
	font-family: Roboto, sans-serif;
	font-size: 75%;
	font-weight: 300;
}

.section6-1-wrap p {
	margin-bottom: 4.44%;
	font-size: 20px;
	font-weight: 300;
}

.section6-1-wrap button {
	display: block;
	height: 60px;
	padding: 0 5%;
	margin: 0 auto;
	font-size: 23px;
	background-color: #b3965a;
	border: none;
	border-radius: 5px;
}

.section6-1-wrap button:hover {
	background-color: #957b45;
}

.section6-2 {
	position: relative;
}

.section6-2:before,
.section6-2:after {
	content: '';
	position: absolute;
	top: 0;
	width: 45%;
	height: 1px;
	background-color: #fff;
}

.section6-2:after {
	right: 0;
}

.instagram-slider-wrap {
	width: 100%;
}

.instagram-slider-wrap:before {
	content: '';
	position: absolute;
	top: -20px;
	left: 0;
	right: 0;
	width: 38px;
	height: 38px;
	margin: auto;
	background-image: url(../img/icons/instagram.svg);
}

.section7 {
	background-image: url(../img/pattern-bg-white.svg);
	background-size: 165px;
}

.section7-wrap {
	max-width: 1150px;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.section7-wrap .h2:after {
	background-image: url(../img/icons/pattern-h-black.svg);
}

.contacts {
	-webkit-flex-basis: 30%;
	-ms-flex-preferred-size: 30%;
	flex-basis: 30%;
}

.contacts-content strong {
	display: block;
	margin-bottom: 10px;
	font-size: 22px;
	font-weight: 400;
}

.contacts-content span {
	font-size: 18px;
	font-weight: 300;
}

.contacts-content-item + .contacts-content-item {
	margin-top: 30px;
}

.callback {
	-webkit-flex-basis: 70%;
	-ms-flex-preferred-size: 70%;
	flex-basis: 70%;
}

.callback p {
	font-size: 20px;
	font-weight: 300;
}

.callback textarea {
	width: 100%;
}

.callback-form-sm {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-top: 30px;
}

.callback-form-xs {
	max-width: 500px;
	margin: 25px auto 0;
}

.callback-form-xs input {
	width: 100%;
}

.callback-form-xs input + input {
	margin-top: 15px;
}

.callback-form-xs textarea {
	margin-top: 15px;
	margin-bottom: 15px;
	height: 150px;
}

.callback-left {
	-webkit-flex-basis: 300px;
	-ms-flex-preferred-size: 300px;
	flex-basis: 300px;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-right: 15px;
}

.callback-left input {
	width: 100%;
}

.callback-left input + input {
	margin-top: 15px;
}

.footer-map {
	height: 50vh;
}

.cpr {
	padding: 2.44% 5px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
	background-color: #000000;
}

.cpr a {
	position: relative;
	margin-right: 40px;
	color: #b3965a;
	text-decoration: underline;
}

.cpr a:hover,
.cpr a:focus {
	text-decoration: none;
}

.cpr a:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: -25px;
	width: 6px;
	height: 6px;
	margin: auto;
	border-radius: 50%;
	background-color: #635230;
}

html.popup-form-active {
	position: relative;
	margin-right: 17px;
	overflow: hidden;
}

.popup-form-wrap {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
	z-index: 100;
	overflow-x: auto;
}

.popup-form-wrap.active {
	display: block;
}

.popup-form-wrap:after {
	content: '';
	display: inline-block;
	height: 100%;
	width: 0;
	vertical-align: middle;
}

.popup-form-container {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	max-width: 617px;
	margin: 10px auto;
	padding: 30px 4% 35px;
	text-align: left;
	border: 10px solid rgba(179, 150, 90, 0.5);
	border-radius: 10px;
	background-color: #fff;
}

.popup-form-container .h5 {
	margin-bottom: 15px;
}

.popup-form-container form {
	max-width: 90%;
	margin: auto;
}

.popup-form-container label {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 15px;
}

.popup-form-container input,
.popup-form-container textarea {
	max-width: 400px;
	width: 100%;
	margin-left: 10px;
	padding-right: 7%;
}

.popup-form-container input[type=submit] {
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	display: block;
	width: 155px;
	padding: 2px;
}

.popup-form-container textarea {
	height: 87px;
}

.popup-form-text {
	color: #868783;
	font-size: 13px;
}

.popup-form-cancel {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 21px;
	padding: 0;
	color: #ffffff;
	font-size: 19px;
	font-weight: 700;
	line-height: 21px;
	background-color: #000000;
	border: none;
	border-radius: 4px;
}

@media (min-width: 500px) and (max-width: 650px) {

.works-done-items a {
	-webkit-flex-basis: 45%;
	-ms-flex-preferred-size: 45%;
	flex-basis: 45%;
}

}

@media (min-width: 651px) {

.callback-form-xs {
	display: none;
}

}

@media (min-width: 1001px) {

.contacts,
.callback {
	padding-left: 5%;
}

.contacts .h2,
.callback .h2 {
	margin-bottom: 70px;
}

.contacts {
	border-right: 1px solid #b3965a;
}

.contacts .h2 {
	text-align: left;
}

.contacts .h2:after {
	left: -35px;
	margin: 0;
}

}

@media (min-width: 1147px) {

.works-order-item:nth-child(3):after {
	content: '';
	position: absolute;
	bottom: 172px;
	left: 0;
	right: 0;
	width: 116px;
	height: 34px;
	margin: auto;
	background-image: url(../img/icons/step-pattern.svg);
}

}

@media (max-width: 1000px) {

.works-order-item:nth-child(10) {
	display: block;
	background-color: #b3965a;
	border-radius: 3px;
	line-height: 30px;
}

.works-order-item:nth-child(10):hover {
	background-color: #957b45;
}

.section7-wrap {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.contacts-content {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	margin-bottom: 20px;
}

}

@media (max-width: 990px) {

.section1__slider {
	height: 420px;
}

.section1__slider img {
	max-width: none;
	width: auto;
}

}

@media (max-width: 980px) {

.section3__products-wrap {
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.section3__products-wrap .section3__products-item {
	-webkit-flex-basis: 48%;
	-ms-flex-preferred-size: 48%;
	flex-basis: 48%;
	max-width: 330px;
}

}

@media (max-width: 950px) {

.site-header__top-contacts {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.site-header__top-contacts p + p {
	margin-top: 7px;
	margin-left: 0;
}

}

@media (max-width: 900px) {

.sh-nav {
	top: 65px;
	right: 15px;
	width: 29px;
	height: 29px;
	background-color: transparent;
	cursor: pointer;
}

.sh-nav:before,
.sh-nav:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 5px;
	background-color: #fff;
}

.sh-nav:after {
	bottom: 0;
	box-shadow: 0 -12px 0 0 #fff;
}

.sh-nav.active ul {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 1;
}

.sh-nav.active ul li {
	display: block;
	border: none;
	-webkit-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	width: 300px;
}

.sh-nav.active + span {
	display: block;
}

.sh-nav:not(.active) ul {
	display: none;
}

.section1__slider .lSPager.lSpg {
	display: none;
}

}

@media (max-width: 768px) {

.h2 {
	margin-bottom: 65px;
	font-size: 30px;
}

.wysiwyg {
	font-size: 17px;
}

.section1__content .h3 {
	padding: 15px;
	font-size: 25px;
}

.section1__content p {
	font-size: 18px;
	padding-left: 15px;
}

.section2-wrap p {
	font-size: 17px;
}

.section3-wrap p {
	font-size: 17px;
}

.section4-1-wrap p {
	font-size: 17px;
}

.section6-1 {
	padding-bottom: 10% !important;
}

.section6-1-wrap p {
	font-size: 17px;
}

.section6-1-wrap button {
	font-size: 17px;
}

.section6-2:before,
.section6-2:after {
	width: 40%;
}

}

@media (max-width: 700px) {

.contacts-content {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

}

@media (max-width: 650px) {

.callback-form-sm {
	display: none;
}

.popup-form-container form {
	max-width: none;
}

}

@media (max-width: 610px) {

.popup-form-container label {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.popup-form-container input,
.popup-form-container textarea {
	margin-left: 0;
}

}

@media (max-width: 570px) {

.site-header {
	padding-top: 35px;
}

.site-header__top-contacts p {
	display: none;
}

.site-header__top-contacts p:nth-child(3) {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	top: 5px;
	right: 5px;
}

.site-header__top-contacts p:nth-child(3):before {
	top: 0;
}

.site-header__top-contacts p:nth-child(3) span + span {
	margin-left: 10px;
}

.section3__products-wrap .section3__products-item {
	-webkit-flex-basis: 330px;
	-ms-flex-preferred-size: 330px;
	flex-basis: 330px;
	margin-bottom: 30px;
}

}

@media (max-width: 550px) {

.section1__bottom button:nth-child(1) {
	display: none;
}

.section1__bottom button:nth-child(2) {
	-webkit-flex-basis: 100%;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
}

}

@media (max-width: 500px) {

.h2 {
	font-size: 25px;
}

}

@media (max-width: 486px) {

.works-order-item:nth-last-child(n + 3) span {
	display: block;
}

.works-order-item:nth-last-child(n + 3) span:after {
	top: 100%;
	left: 0;
	right: 0;
	margin: auto;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

}

@media (max-width: 475px) {

.section1__content .h3 {
	font-size: 22px;
}

.section1__content .h3 br {
	display: none;
}

}

@media (max-width: 400px) {

.site-header__logo {
	font-size: 18px;
}

.cpr a {
	display: block;
	margin: 0 0 15px;
}

.cpr a:after {
	left: 0;
	right: 0;
	top: calc(100% + 15px);
}

}

